@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    background-color: #000428;
    margin: 0;
}

a {
    color: #ff6c45;
    text-decoration: none;
}

a:visited {
    color: #9d2c4b;
}

#header {
    background-color: #1e1c1f;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 100;
}

#navbar {
    font-family: Tahoma, sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#navbar a {
    color: #8e8e8e;
    fill: #8e8e8e;
    text-decoration: none;
    line-height: calc(1em - 2px);
    height: 1em;
    padding: 0.8em;
    border-bottom: solid 2px #9d2c4b;
}

@keyframes navbar-hover {
    100% {
        color: whitesmoke;
        fill: whitesmoke;
        background-color: #3b122f;
        border-bottom: solid 2px #ff6c45;
    }
}

#navbar a:hover {
    animation-name: navbar-hover;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}

#github-octicon {
    position: relative;
    top: 0.1em;
    width: 0.9em;
    height: auto;
}

#header-spacer {
    height: 2.6em;
}

#footer {
    background-color: #631e50;
    background: linear-gradient(#631e50, #000428);
    height: 100px;
}
