#starfield {
    background-color: #000428;
    background: linear-gradient(#000428, #000428 40%, #631e50);
    position: relative;
    width: 100vw;
    height: calc(100vh - 2.6em);
    overflow: hidden;
}

.shining-star {
    position: absolute;
    border-radius: 50%;
    background-color: aliceblue;
    width: 0.2vmin;
    height: 0.2vmin;
    animation-name: shining-star;
    animation-iteration-count: infinite;
}

.shooting-star {
    position: absolute;
    border-radius: 50%;
    background-color: aliceblue;
    transform: translateX(100vmax);
    width: 40vmin;
    height: 0.1vmin;
    animation-name: shooting-star;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes shining-star {
    50% {
        background-color: transparent;
    }
}

@keyframes shooting-star {
    0% {
        transform: rotate(290deg) translateX(100%) scale(0.001);
    }
    2.5% {
        transform: rotate(290deg) translateX(50%) scale(0.001);
    }
    5% {
        transform: rotate(290deg) translateX(0) scale(1);
    }
    7.5% {
        transform: rotate(290deg) translateX(-50%) scale(0.001);
    }
    10% {
        transform: rotate(290deg) translateX(-100%) scale(0.001);
    }
    100% {
        transform: rotate(290deg) translateX(100%) scale(0.001);
    }
}
