{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/starfield.css">
<title>Willem Greenwood</title>
{% endblock %}

{% block body %}
<section id="head-section">
    <div id="starfield">
        <div id="page-title-div">
            <h1 id="page-title">Willem Greenwood</h1>
            <h2 id="page-subtitle">Software Developer</h2>
        </div>
        <div class="shining-star" style="top: 25%; left: 3%; animation-duration: 6s; animation-delay: 0s;"></div>
        <div class="shining-star" style="top: 20%; left: 30%; animation-duration: 17s; animation-delay: 5s;"></div> 
        <div class="shining-star" style="top: 57%; left: 40%; animation-duration: 12s; animation-delay: 14s;"></div>
        <div class="shining-star" style="top: 69%; left: 80%; animation-duration: 12s; animation-delay: 16s;"></div>
        <div class="shining-star" style="top: 38%; left: 56%; animation-duration: 19s; animation-delay: 9s;"></div> 
        <div class="shining-star" style="top: 27%; left: 61%; animation-duration: 9s; animation-delay: 12s;"></div> 
        <div class="shining-star" style="top: 42%; left: 71%; animation-duration: 13s; animation-delay: 18s;"></div>
        <div class="shining-star" style="top: 52%; left: 93%; animation-duration: 17s; animation-delay: 9s;"></div> 
        <div class="shining-star" style="top: 45%; left: 97%; animation-duration: 17s; animation-delay: 4s;"></div> 
        <div class="shining-star" style="top: 38%; left: 77%; animation-duration: 7s; animation-delay: 14s;"></div> 
        <div class="shining-star" style="top: 31%; left: 60%; animation-duration: 18s; animation-delay: 14s;"></div>
        <div class="shining-star" style="top: 29%; left: 3%; animation-duration: 19s; animation-delay: 10s;"></div> 
        <div class="shining-star" style="top: 69%; left: 72%; animation-duration: 7s; animation-delay: 12s;"></div> 
        <div class="shining-star" style="top: 9%; left: 17%; animation-duration: 10s; animation-delay: 19s;"></div> 
        <div class="shining-star" style="top: 65%; left: 58%; animation-duration: 9s; animation-delay: 2s;"></div>  
        <div class="shining-star" style="top: 5%; left: 65%; animation-duration: 5s; animation-delay: 6s;"></div>   
        <div class="shining-star" style="top: 87%; left: 64%; animation-duration: 14s; animation-delay: 4s;"></div> 
        <div class="shining-star" style="top: 66%; left: 45%; animation-duration: 6s; animation-delay: 2s;"></div>
        <div class="shining-star" style="top: 6%; left: 98%; animation-duration: 11s; animation-delay: 3s;"></div>
        <div class="shining-star" style="top: 66%; left: 90%; animation-duration: 7s; animation-delay: 7s;"></div>
        <div class="shining-star" style="top: 30%; left: 9%; animation-duration: 16s; animation-delay: 2s;"></div>
        <div class="shining-star" style="top: 46%; left: 86%; animation-duration: 10s; animation-delay: 12s;"></div>
        <div class="shining-star" style="top: 32%; left: 8%; animation-duration: 19s; animation-delay: 12s;"></div>
        <div class="shining-star" style="top: 12%; left: 42%; animation-duration: 11s; animation-delay: 15s;"></div>
        <div class="shining-star" style="top: 46%; left: 65%; animation-duration: 20s; animation-delay: 11s;"></div>
        <div class="shining-star" style="top: 18%; left: 31%; animation-duration: 14s; animation-delay: 19s;"></div>
        <div class="shining-star" style="top: 44%; left: 19%; animation-duration: 9s; animation-delay: 5s;"></div>
        <div class="shining-star" style="top: 19%; left: 96%; animation-duration: 16s; animation-delay: 13s;"></div>
        <div class="shining-star" style="top: 33%; left: 19%; animation-duration: 18s; animation-delay: 4s;"></div>
        <div class="shining-star" style="top: 32%; left: 11%; animation-duration: 9s; animation-delay: 3s;"></div>
        <div class="shining-star" style="top: 61%; left: 1%; animation-duration: 17s; animation-delay: 3s;"></div>
        <div class="shining-star" style="top: 17%; left: 77%; animation-duration: 11s; animation-delay: 17s;"></div>
        <div class="shining-star" style="top: 32%; left: 54%; animation-duration: 20s; animation-delay: 4s;"></div>
        <div class="shining-star" style="top: 28%; left: 29%; animation-duration: 13s; animation-delay: 9s;"></div>
        <div class="shining-star" style="top: 36%; left: 86%; animation-duration: 5s; animation-delay: 6s;"></div>
        <div class="shining-star" style="top: 68%; left: 71%; animation-duration: 14s; animation-delay: 7s;"></div>
        <div class="shining-star" style="top: 6%; left: 87%; animation-duration: 19s; animation-delay: 8s;"></div>
        <div class="shining-star" style="top: 1%; left: 35%; animation-duration: 7s; animation-delay: 10s;"></div>
        <div class="shining-star" style="top: 25%; left: 74%; animation-duration: 19s; animation-delay: 17s;"></div>
        <div class="shining-star" style="top: 3%; left: 74%; animation-duration: 13s; animation-delay: 4s;"></div>
        <div class="shooting-star" style="top: 8%; left: 21%; animation-duration: 15s; animation-delay: 2s;"></div>
        <div class="shooting-star" style="top: 4%; left: 20%; animation-duration: 9s; animation-delay: 3s;"></div>
        <div class="shooting-star" style="top: 47%; left: 46%; animation-duration: 14s; animation-delay: 5s;"></div>
        <div class="shooting-star" style="top: 10%; left: 14%; animation-duration: 13s; animation-delay: 14s;"></div>
        <div class="shooting-star" style="top: 15%; left: 33%; animation-duration: 10s; animation-delay: 11s;"></div>
        <div class="shooting-star" style="top: 13%; left: 8%; animation-duration: 14s; animation-delay: 10s;"></div>
        <div class="shooting-star" style="top: 0%; left: 78%; animation-duration: 7s; animation-delay: 10s;"></div>
        <div class="shooting-star" style="top: 66%; left: 64%; animation-duration: 11s; animation-delay: 14s;"></div>
        <div class="shooting-star" style="top: 61%; left: 87%; animation-duration: 12s; animation-delay: 5s;"></div>
        <div class="shooting-star" style="top: 77%; left: 92%; animation-duration: 10s; animation-delay: 7s;"></div>
        <div class="shooting-star" style="top: 85%; left: 75%; animation-duration: 8s; animation-delay: 11s;"></div>
        <div class="shooting-star" style="top: 15%; left: 98%; animation-duration: 15s; animation-delay: 10s;"></div>
        <div class="shooting-star" style="top: 50%; left: 75%; animation-duration: 8s; animation-delay: 13s;"></div>
        <div class="shooting-star" style="top: 31%; left: 58%; animation-duration: 15s; animation-delay: 8s;"></div>
        <div class="shooting-star" style="top: 57%; left: 30%; animation-duration: 13s; animation-delay: 11s;"></div>
        <div class="shooting-star" style="top: 32%; left: 79%; animation-duration: 7s; animation-delay: 2s;"></div>
        <div class="shooting-star" style="top: 21%; left: 33%; animation-duration: 10s; animation-delay: 14s;"></div>
        <div class="shooting-star" style="top: 78%; left: 86%; animation-duration: 11s; animation-delay: 8s;"></div>
        <div class="shooting-star" style="top: 38%; left: 31%; animation-duration: 11s; animation-delay: 8s;"></div>
        <div class="shooting-star" style="top: 34%; left: 56%; animation-duration: 12s; animation-delay: 14s;"></div>
        <div class="shooting-star" style="top: 50%; left: 41%; animation-duration: 13s; animation-delay: 5s;"></div>
        <div class="shooting-star" style="top: 9%; left: 25%; animation-duration: 10s; animation-delay: 4s;"></div>
        <div class="shooting-star" style="top: 5%; left: 90%; animation-duration: 13s; animation-delay: 9s;"></div>
        <div class="shooting-star" style="top: 19%; left: 15%; animation-duration: 7s; animation-delay: 10s;"></div>
        <div class="shooting-star" style="top: 4%; left: 13%; animation-duration: 15s; animation-delay: 3s;"></div>
        <div class="shooting-star" style="top: 73%; left: 15%; animation-duration: 13s; animation-delay: 8s;"></div>
        <div class="shooting-star" style="top: 13%; left: 91%; animation-duration: 11s; animation-delay: 0s;"></div>
        <div class="shooting-star" style="top: 53%; left: 24%; animation-duration: 9s; animation-delay: 9s;"></div>
        <div class="shooting-star" style="top: 82%; left: 76%; animation-duration: 14s; animation-delay: 9s;"></div>
        <div class="shooting-star" style="top: 15%; left: 34%; animation-duration: 11s; animation-delay: 4s;"></div>
    </div>
</section>
<section id="introduction-section" class="black-box">
    <h1>Hi!</h1>
    <p>I have just completed the final year of a three year Bachelor of Science: Computer Science, and am eager to apply what I have learned and gain further experience through a full-time job. I am particularly keen on work that involves programming. I have had experience in a backend C# role, and I have team skills developed at university level and through an internship.</p>
</section>
<section id="experience-section" class="black-box">
    <h1>Experience</h1>
    <!-- <p>Through my bachelor, I have grown proficient with SQL, and Python, as well as gaining some experience with Java. During the second half of my degree I have been employed to run tutorials and mark tutorial submissions, mostly for first-year papers but including a second-year databases paper. During my internship, I worked on C#/.NET back-end development creating a RESTful service.</p> -->
    <section id="education-experience-section">
        <h2>Education</h2>
        <p>I started out at Massey University doing engineering. While there I took two computer science papers and realised that I enjoyed it so much that I changed my qualification to a Bachelor of Science, majoring in computer science with a minor in mathematics.</p>
        <p>While at university I continued pursuing my own interests in my spare time, including joining up with the ICPC programming competition and working part-time as a marker for some of my past papers. My work as a marker included leading tutorials, grading assignments & exams, and marking for a second-year databases paper.</p>
    </section>
    <section id="work-experience-section">
        <h2>Work</h2>
        <p>My first job related to computer science was marking for my past papers. I'd mark and lead weekly tutorials, mark assignments, and in one case grade final exams for papers from previous years, including a second-year databases paper.</p>
        <p>My second job was as a software development intern for a company called Zimmatic for the summer in my second year. We were building a RESTful API using C#/.NET. I had a lot of fun and it let me get professional experience with Agile development, scrum and sprints, as well as with management tools like JIRA.</p>
    </section>
</section>
<section id="projects-section">
    <h1 class="black-box">Projects</h1>
    <article class="project-article black-box">
        <h2>PortfolioWebsite</h2>
        <hr>
        <p>The project for this site! Incliding the Flask-based Python server that it's running on.</p>
        <hr>
        <a href="https://github.com/WillemGreenwood/PortfolioWebsite" target="_blank">Check out the source code</a>
    </article>
</section>
<section id="contact-section" class="black-box">
    <div>
        Email: <a href="mailto:willem.jmg@xtra.co.nz">willem.jmg@xtra.co.nz</a>
    </div>
    <div>
        LinkedIn: <a href="https://www.linkedin.com/in/willem-greenwood-05b385195/" target="_blank">Willem Greenwood</a>
    </div>
    <div>
        GitHub: <a href="https://github.com/WillemGreenwood" target="_blank">WillemGreenwood</a>
    </div>
</section>
{% endblock %}
